
.form-block{
    display: flex;
}
.add-button{
    margin-left: 20px;
    padding: 5px 10px;
    background-color: #fff;
}

@media (max-width: 500px) {
    .form-block{
        flex-wrap: wrap;
    }
    .add-button{
        width: 100%;
        margin-top: 15px;
        margin-left: 0;
    }
}